.AddWordForm {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 0 auto;
}

.AddWordForm input {
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: left;
}

.AddWordForm input:focus {
  border-color: #000000;
}

.saveBtn {
  font-size: 16px;
  padding: 10px;
  min-width: max-content;
}
